@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1615141982883-c7ad0e69fd62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHRhbXBhJTIwZmxvcmlkYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1600&q=60')no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1.2em;
  font-size: 1.3em;
  color: #ff85ff;
  font-weight: bolder;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3em;
  margin: 1em;
  color: #ff85ff;
}

.nav li a:hover {
  color: #36ff24;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 300px auto;
}

h1 {
  color: #ff85ff;
  margin-bottom: .4em;
  letter-spacing: 1px;
  word-spacing: 3px;
}

p {
  margin-bottom: 1.8em;
  color: #36ff24;
  font-size: 1.2em;
  letter-spacing: 2px;
  word-spacing: 3px;
}

button {
  background: #ff85ff5d;
  color: #fff;
  padding: 12px 45px;
  font-size: 1.2em;
  border: none;
  letter-spacing: 2px;
  word-spacing: 3px;
  transition: all .5s ease;
}

button:hover {
  transform: translateY(10px);
  background: #36ff2459;
  border-radius: 25px;
}
